.active {
  font-weight: bold;
}

.main-tabs {
  width: 100%;
}
.main-tabs li {
  width: 25%;
  text-align: center;
}

#edit-meal-form input {
  margin: 5px 0;
}

#servings-selector {
  width: 100%;
}

#servings-selector label {
  width: 12.5%;
}

#mealtype-selector {
  width: 100%;
}

#mealtype-selector label {
  width: 20%;
}
#preptime-selector {
  width: 100%;
}

#preptime-selector label {
  width: 25%;
}

.ingredient {
  min-height: 40px;
  font-size: 20px;
}

.meal {
  min-height: 40px;
  font-size: 20px;
}

body { 
  padding-top: 50px;
  padding-bottom: 50px;
}

.list-group-item:last-child, .list-group-item:first-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.meal-plan-meal, .list-ingredient {
  padding-left: 4px;
  padding-right: 8px;
}

.check-button {
  font-size: 34px;
  line-height: 1.333333;
  cursor: pointer;
  position: absolute;
  right: 4px;
  top: -1px;
  color: #c3c3c3;
}

.list-header {
  font-size: 20px;
}